#soda-display{
    text-align:center;
    .soda-btn {
        background: seagreen;
        color: white;
        margin: 5px;
        padding: 10px;
    }
    .soda-coke{
        background: red;
        font-weight: bold;
    }
    .soda-sprite{
        background: green;
        font-weight: bold;
    }
    .soda-mountain-dew{
        color: red;
        font-weight: bold;
    }
    .soda-dr-pepper{
        background: darkred;
        border-color: black;
        color: white;
        font-weight: bold;
    }
    
}

#add-soda {
    background: blue;
    color: white;
}

#soda-form {
    display: block;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 20px;
}