#soda-display{
    text-align:center;
    .soda-btn {
        background: seagreen;
        color: white;
        margin: 5px;
        padding: 10px;

    }
}

#add-soda {
    background: blue;
    color: white;
}

#soda-form {
    display: block;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 20px;
}